<footer class="text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Linkler</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="/" class="text-white">Ana Menü</a></li>
                    <li><a href="/hakkimizda" class="text-white">Hakkımızda</a></li>
                    <li><a href="/oyunlar" class="text-white">Oyunlar</a></li>
                    <li><a href="/cocuk_tiyatrosu" class="text-white">Gökkuşağı Çocuk Tiyatrosu</a></li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">İletişim</h5>
                <p class="text-white mb-1">Tanzer DÖKMEN | Genel Sanat Yönetmeni</p>
                <p class="mb-1"><a href="tel:+905321234567" class="text-white">Tel: +90 532 123 4567</a></p>
                <p class="mb-1"><a href="mailto:info@tiyatrogen.com" class="text-white">E-posta: info@tiyatrogen.com</a></p>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        &copy; 2024 Tiyatrogen. Tüm hakları saklıdır.
    </div>
</footer>

<div class="sidebar">
    <a href="https://www.facebook.com/tiyatrogen" target="_blank" rel="noopener noreferrer" class="text-white"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.twitter.com/tiyatrogen" target="_blank" rel="noopener noreferrer" class="text-white"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/tiyatrogen" target="_blank" rel="noopener noreferrer" class="text-white"><i class="fab fa-instagram"></i></a>
    <a href="https://www.youtube.com/channel/UC4dGPSZuJv42ZS2ZdA7vFCg" target="_blank" rel="noopener noreferrer" class="text-white"><i class="fab fa-youtube"></i></a>
</div>

<a href="#" id="back-to-top" class="btn btn-primary">Başa Dön</a>