<div class="container my-5" style="padding-top: 80px;">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <!-- Carousel items -->
        </div>
    </div>
</div>

<div class="container my-5">
    <h2>Etkinlik Takvimi</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="list-group" id="event-list">
                <!-- Event list -->
            </div>
        </div>
        <div class="col-md-6">
            <img id="event-poster" src="" alt="Etkinlik Afişi" class="img-fluid">
        </div>
    </div>
</div>

<script src="/js/events.js"></script>